.dark {
   --jp-rendermime-table-row-background: rgba(255, 255, 255, 0.0725);
}

body > .backdrop-blur {
   height: 64px;
}

@media (max-width: 640px) {
   body > .backdrop-blur nav span {
      display: none;
   }
}

/*.dark body {
   background-color: #0e1116!important;
}*/